<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div style = "display: flex; align-items: center; justify-content: center; flex-direction: column">
            <h3>Account Verification</h3>
            <br>
            <p>Thanks for choosing E-com API, please click on the button to verify your account</p>
            <br>
            <a style = "margin-top: 1rem; padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoraton: none; background: #0275d8; color: white;" href="http://localhost:8000/verification?token={{token}}">Verify Account</a>
            <br>
            <p>Please ignore if already verified, or you did not registered</p>
        </div>
    </body>
</html>